<% @works.each do |work| %>

	<tr>
			<%= render :partial => "item_work", :locals => {:work => work} %>
	</tr>
	<%#= render :partial => 'item_work ', :locals => {:work => work} %>
	<%#= render :partial => "item_work", :locals => {:work => work} %>
<!--     <td><%#= link_to 'Destroy', work, confirm: 'Are you sure?', method: :delete %></td> -->

<% end %>