
	<tr>
		<td>
			<%= link_to "Id", {:controller => "works", :action => "index", :sort => "id"}, 
										:class => "linked" %>
		</td>
		<td>
			<%= link_to "Title", {:controller => "works", :action => "index", :sort => "title"}, 
										:class => "linked" %>
		</td>
	</tr>  	

	<tr>
		<td colspan="2">
			<%= link_to "Serial num", {:controller => "works", :action => "index", :sort => "serial_num"}, 
										:class => "linked" %>
		</td>
	</tr>  	

	<tr>
		<td colspan="2">
			<%= link_to "Music", {:controller => "works", :action => "index", :sort => "music_id"}, 
										:class => "linked" %>
		</td>		
	</tr>  	
