<h1>Listing works</h1>

<table>
  <tr>
  	<th>
  		<%= render 'list_works_header' %>
  	</th>
  </tr>

	<%#= render 'list_works' %>
	<%= render :partial => 'list_works' %>

</table>

<br />

<%= link_to 'New Work', new_work_path %>
<!-- <div class="linked">abcde</div> -->
